.header-examples {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background: lightgray;
  margin-bottom: 25px;
  margin-top: 25px;
}

.row {
  border: ridge 1px blue;
}

br {
  margin-top: 20px;
  margin-bottom: 20px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.d-flex {
  border: ridge 1px blue;
}